.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(222, 222, 230);
    font-size: 12px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover{
    color: #ffffff;
}
.insta{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}
.socialLink{
    text-decoration: none !important;
   border:0px !important;
   outline:none;
   border-width: 0px;
   outline-width:0px;
   border-bottom: none;
}
